<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="simba-condomini-cs" connectionString="XpoProvider=MSSqlServer;data source=PC-PRANIO;user id=simba;password=simba;initial catalog=simba-condomini;Persist Security Info=true" />
        <add name="ConnectionString" connectionString="XpoProvider=MSSqlServer;data source=PC-PRANIO;user id=simba;password=simba;initial catalog=simba-condomini;Persist Security Info=true" />
    </connectionStrings>
</configuration>