
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Comunicazioni Condomino</h2>
<div class="list-container">
    @(Html.DevExtreme().List()
                        .Height("100%")
                        .DataSource(ds => ds.WebApi()
                        .Controller("ComunicazioniDati")
                        .LoadAction("Get"))
                        .ItemTemplate(@<text>
                            <div class="product">
                                <div class="price"><%- Oid %></div>
                                <div><%- Testo %></div>
                                <div class="price"><%- DateInsert %></div>

                                <%if (Type==1){ %>
                                    <a href="/Comunicazioni/NuovoTicket/<%- Oid %>">Dettagli</a>
                                <% } else { %>
                                    <b>To do</b>
                                <% } %>
                            </div>
                        </text>)
    )


