@using Simba.DataLayer.simba_condomini

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

@(Html.DevExtreme().DataGrid<Condominium>()
        .ShowBorders(true)
        .DataSource(d => d.WebApi().Controller("SampleData").Key("Oid"))
        .Columns(columns =>
        {
            columns.AddFor(m => m.Oid);
            columns.AddFor(m => m.Indirizzo);
            columns.AddFor(m => m.PartitaIva);
        })
        .Paging(p => p.PageSize(10))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(f => f.Visible(true))
        .GroupPanel(p => p.Visible(true))
        .Grouping(g => g.AutoExpandAll(false))
        .RemoteOperations(true)
)